<ul class="stat-list">
    <li>
        <h3 class="km-celica">38,000 kms</h3>
        <span class="label label-celica">Celica</span>
    </li>
    <li>
        <h3 class="km-laguna">43,000 kms</h3>
        <span class="label label-laguna">Laguna</span>
    </li>
</ul>