<ul class="tag-list" style="padding: 0">
    {% for val in agg %}
    <li>
        <a href="{{ path('images', {'tag':val.key}) }}"><i class="fa fa-tag">{{val.key }} ({{ val.doc_count }})</a>
    </li>
    {% endfor %}
</ul>